langchain
langchain-core
langchain-community
pypdf
python-docx
docx2txt
pymupdf
sentence-transformers
faiss-cpu
langchain-groq
langchain-text-splitters
google-genai
pandas
numpy
dotenv
pathlib
langchain_huggingface
rank-bm25
