node_modules/
logs/
*.log
.env
.env.*
.venv
WEEK4/.env.dev
WEEK4/.env.local
WEEK4/.env.prod
certs
!.env.example
venv
__pycache__
!WEEK7/Day5/src/logs
WEEK8/Day3/quantized
WEEK8/llama.cpp
WEEK8/vllm_source
WEEK9/llama.cpp
WEEK9/src/models/qwen2.5-7b-instruct-q4_0.gguf
